<div class="page-wrapper" *ngIf="ready">
  <header>
    <div class="top_bar"></div>
    <div class="header_bottom home1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.png" alt="img"></a>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 text-right">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <a href="index.html" class=" dropdown-toggle" data-toggle="dropdown">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Home One</a></li>
                                    <li><a href="index2.html">Home Two</a></li>
                                    <li><a href="index3.html">Home Three</a></li>
                                    <li><a href="index4.html">Home Four</a></li>
                                    <li><a href="index5.html">Home Five</a></li>
                                    <li><a href="shop.html">Home shop</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="about.html" data-toggle="dropdown" class=" dropdown-toggle">About</a>
                                <ul class="dropdown-menu">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="team-details.html">Team Details</a></li>
                                    <li><a href="testimonials.html">Testimonials</a></li>
                                    <li><a href="price.html">Price</a></li>
                                    <li><a href="faq.html">FAQ's</a></li>
                                    <li><a href="error.html">Error 404</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="services.html" data-toggle="dropdown" class=" dropdown-toggle">Services</a>
                                <ul class="dropdown-menu">
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="services-2.html">Services style 2</a></li>
                                    <li><a href="services_detail.html">Services Detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="3-column-gallery.html" class="">Our Works</a>
                                <ul class="dropdown-menu">
                                    <li><a href="3-column-gallery.html">3 Column Gallery</a></li>
                                    <li><a href="full-width-gallery.html">Full width Gallery</a></li>
                                    <li><a href="project_detail.html">Gallery Detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="shop.html">Store</a>
                                <ul class="dropdown-menu">
                                    <li><a href="shop.html">Prducts</a></li>
                                    <li><a href="products-details.html">Product Details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="blog.html" data-toggle="dropdown" class=" dropdown-toggle">Blog</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single.html">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html" class="active">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-2 col-xs-12 responsive_center">
                    <div class="cart_info">
                        <a href="cart.html"><img src="images/cart.png" alt="img"> <span>3</span></a>
                    </div>
                    <form action="#">
                        <input type="text" placeholder="search">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
  <div class="d-flex flex-column align-items-stretch page page-content">
    <router-outlet></router-outlet>
  </div>
</div>