<div class="page-wrapper" *ngIf="ready">
  <header>
    <div class="top_bar"></div>
    <div class="header_bottom home1">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                  <div class="logo">
                      <a href="index.html">
                        <img src="https://github.com/jsknight/lawn-care-carmel-indiana/blob/master/src/assets/images/logo.png?raw=true" alt="img">
                      </a>
                  </div>
              </div>
              <div class="col-sm-12 col-md-9 col-lg-9 text-right">
                  <nav>
                      <ul>
                          <li><a href="index.html" class="active">Home</a></li>
                          <li><a href="contact.html" class="">Privacy</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
    </div>
  </header>
  <div class="d-flex flex-column align-items-stretch page page-content">
    <router-outlet></router-outlet>
  </div>
</div>